/* line 1, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
a:active {
  text-decoration: underline;
}

/* line 5, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.nav-bar.nav--fixed:not(.bg--dark):not(.bg--primary):not(.bg--white) {
  background: #000;
}
/* line 7, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.nav-bar.nav--fixed:not(.bg--dark):not(.bg--primary):not(.bg--white) .logo-dark {
  display: none;
}
/* line 10, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.nav-bar.nav--fixed:not(.bg--dark):not(.bg--primary):not(.bg--white) .logo-light {
  display: inline;
}

/* line 15, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.nav-bar:not(.nav--fixed) {
  background-color: transparent;
}

/* line 19, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.nav-bar:not(.nav--fixed):not(.home) {
  background-color: #000000 !important;
}
/* line 21, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.nav-bar:not(.nav--fixed):not(.home) .logo-dark {
  display: none;
}
/* line 24, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.nav-bar:not(.nav--fixed):not(.home) .logo-light {
  display: inline;
}

/* line 29, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.menu > li:hover > a {
  opacity: 1;
  text-decoration: underline;
}

/* line 34, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.menu > li.active > a {
  opacity: 1;
  text-decoration: underline;
}

/* line 39, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.menu > li a {
  color: #fff;
  opacity: 1;
}

/* line 44, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
footer .footer__navigation li a {
  text-decoration: none;
  color: #000000;
}

/* line 49, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
footer .footer__navigation li a:hover {
  text-decoration: underline;
  color: #00ffff;
}

/* line 54, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
footer .footer__navigation li a.active {
  text-decoration: underline;
  color: #00ffff;
}

/* line 59, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.simple-menu li a:hover {
  text-decoration: underline;
  color: #00ffff;
}

/* line 64, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/endless-overrides.scss */
.simple-menu li a.active {
  text-decoration: underline;
  color: #00ffff;
}
