/* line 1, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/pillar_overwrites.scss */
section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 6, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/pillar_overwrites.scss */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 10, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/pillar_overwrites.scss */
footer .footer__navigation {
  margin-bottom: 0;
}

/* line 15, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/pillar_overwrites.scss */
.slider.height-40 .slides li {
  min-height: 300px;
}

/* line 19, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/pillar_overwrites.scss */
.imagebg {
  min-height: 300px;
}

/* line 27, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/pillar_overwrites.scss */
footer .footer__navigation li a:hover{
  text-decoration:none;
  color:#fff;
  background-color:#00ffff;
  padding:3px;
  }

/* line 35, /Users/holden/Code/paid-projects/festcamp/app/assets/stylesheets/gYp-2O03SA/pillar_overwrites.scss */

footer .footer__navigation li a.active{
  text-decoration:none;
  color:#fff;
  background-color:#00ffff;
  padding:3px;
}
